<p-toast></p-toast>
<div class="content">
  <div class="card">
    <h5>DataTable</h5>
    <p-table [value]="customers" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
      [(contextMenuSelection)]="selectedCustomer" selectionMode="single" [contextMenu]="cm" dataKey="id"
      (onRowSelect)="rowSelect($event,cm)">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Company</th>
          <th>Representative</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr [pContextMenuRow]="customer" [pSelectableRow]="customer">
          <td>{{customer.name}}</td>
          <td>{{customer.country.name}}</td>
          <td>{{customer.company}}</td>
          <td>{{customer.representative.name}}</td>
          <td>
            <div class="btn-group btn-action-group" dropdown>
              <button id="button-basic" type="button" class="btn btn-primary dropdown-toggle" dropdownToggle
                aria-controls="dropdown-basic">
                action
              </button>
              <ul id="dropdown-basic" class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
                <li role="menuitem">
                  <a class="dropdown-item" (click)="viewCustomer(customer)">
                    <i class="fa fa-eye"></i>
                    View
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="deleteCustomer(customer)">
                    <i class="fa fa-trash"></i>
                    delete
                  </a>
                </li>


              </ul>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>
</div>
<div class="content">
  <div class="card">
    <h5>DataTable Expand</h5>
    <p-table [value]="products" dataKey="name">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th>Code</th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon>
          </th>
          <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="product"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{product.name}}</td>
          <td>{{product.code}}</td>
          <td>{{product.price | currency:'USD'}}</td>
          <td>{{product.category}}</td>
          <td>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
          </td>
          <td><span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-product>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="product.orders" dataKey="id">
                <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon>
          </th>
          <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon>
          </th>
          <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.customer}}</td>
          <td>{{order.id}}</td>
          <td>{{order.amount | currency:'USD'}}</td>
          <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">There are no order for this product yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
</div>
</div>
<div class="content">
  <div class="card">
    <h5>Quill Editor Custom</h5>
    <p-editor #header_editor (onTextChange)="headerTextChangeHandler($event)">
      <p-header>
        <span class="ql-formats">
          <button class="ql-bold" aria-label="Bold"></button>
          <button class="ql-italic" aria-label="Italic"></button>
          <button class="ql-underline" aria-label="Underline"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
        </span>
        <span class="ql-formats">
          <button (click)="addShortCode('[invoice_number]', header_editor)" style="width: auto;">
            <i class="fa fa-plus"></i> invoice_number
          </button>
          <button (click)="addShortCode('[company_name]', header_editor)" style="width: auto;">
            <i class="fa fa-plus"></i> company_name
          </button>
          <button (click)="addShortCode('[invoice_amount]', header_editor)" style="width: auto;">
            <i class="fa fa-plus"></i> invoice_amount
          </button>
          <button (click)="addShortCode('[due_date]', header_editor)" style="width: auto;">
            <i class="fa fa-plus"></i> due_date
          </button>
        </span>
      </p-header>
    </p-editor>
    <div>
      <p #header_preview></p>
    </div>
  </div>
</div>
<div class="content">
  <div class="card">
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template pTemplate="header">
        <h5>Carousel</h5>
      </ng-template>
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div>
              <h4 class="p-mb-1">{{product.name}}</h4>
              <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
              <span
                [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
              <div class="car-buttons p-mt-5">
                <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star">
                </p-button>
                <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
<div class="content">
  <div class="card">
    <h5>Chart Line</h5>
    <p-chart type="line" [data]="data_line" (onDataSelect)="selectData($event)"></p-chart>
  </div>
</div>
<div class="content">
  <div class="card">
    <h5>Chart Doughnut</h5>
    <p-chart type="doughnut" [data]="data_doughnut"></p-chart>
  </div>
</div>
<div class="content">
  <div class="card">
    <h5>Chart pie</h5>
    <p-chart type="pie" [data]="data_doughnut"></p-chart>
  </div>
</div>
<router-outlet></router-outlet>